[Unit]
Description={name}

[Service]
WorkingDirectory={BOT_ROOT_PATH}/{name}
ExecStart={BOT_ROOT_PATH}/{name}/.venv./bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target